<div class="jumbotron text-center">
  <h1>Spygame:
    <small>Name Pending</small>
  </h1>
</div>

<div class="container">
  <ngb-tabset [justify]="justify">
    <ngb-tab title="Map">
      <ng-template ngbTabContent>
        <div class="border">
          <app-map></app-map>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Character">
      <ng-template ngbTabContent>
        <div class="border">
          <app-character></app-character>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Actions">
      <ng-template ngbTabContent>
        <div class="border">
          Here be actions
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>